#calculatrice{
    width:250px;
    margin:20px auto;
    padding:20px;  
    border-radius: 6px;
    background-color: #454545;
    border: 1px solid #3D3D3D;
    box-shadow: 0 7px 10px rgba(0, 0, 0, .8);
}

#calculatrice input[type="text"]{
    display: block;
    text-align: right;
    background-color: #121212;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #777;
    color: #C8C8C8;
    font-size: 20px;
    padding: 16px;
    width: 227px;
    box-shadow: inset 0 0 10px 4px rgba(0, 0, 0, .6);
}

#calculatrice input[type="button"],
#calculatrice input[type="reset"]{
    display: block;
    width: 100%;
    text-align: center;
    padding: 7px 12px;
    font-size: 20px;
    text-shadow: 0 -1px 1px #000;
    color: #FFF;
    font-weight: bold;
    border: 1px solid #777;
    background: linear-gradient(#5F5F5F 0%, #404040 100%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .8);
    cursor:pointer;
}

#calculatrice input[type="button"]:hover,
#calculatrice input[type="reset"]:hover{
    background: linear-gradient(#404040 0%, #5F5F5F 100%);
}